{% extends 'base.html' %}

{% block title %}
    {{ news_item.title }} :: {{ block.super }}
{% endblock %}

{% block sidebar %}
    {% include 'inc/_sidebar.html' %}
{% endblock %}

{% block content %}
<div class="container mt-3">
        <h1>{{ news_item.title }}</h1>
        <br>
        <br>
        <div class="row">

            <div class="col-md-12">

                    <div class="row">
                        <div class="col-sm-8 col-md-12">
                            <div class="thumbnail">
                                <div class="card-header">Категория: <a href="{% url 'category' news_item.category_id %}">{{ item.category }}</a></div>
                                {% if item.photo.urls %}
                                    <img src="{{ item.photo.urlS }}" alt="{{ item.title }}" height="200" width="300"
                                         align="right" style="padding: 20px">
                                {% else %}
                                    <img src="https://i.picsum.photos/id/1004/5616/3744.jpg?hmac=Or7EJnz-ky5bsKa9_frdDcDCR9VhCP8kMnbZV6-WOrY"
                                         alt="photo" width="400" align="right" style="padding: 20px">
                                {% endif %}
                                <div class="caption">
                                    <p class="caption__content">{{ news_item.content|linebreaks }}</p>
                                </div>
                                <hr>
                                <div class="footercard">{{ news_item.created_at|timesince }}</div>
                            </div>
                        </div>
                    </div>
            </div>

        </div>
    </div>
{% endblock %}