.card-header {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
}

.footercard {
    background-color: #f8f8f8;
    padding: 10px;
    border-radius: 5px;
}

.nowtime {
    background-color: #eae8e8;
    border-radius: 20px 20px 0 0;
    padding: 10px;
    margin-right: 100px;
}

.caption__item-title {
    padding-left: 20px;
}

.errorlist {
    color: red;
    st: none;
}

.content__inner {
    display: flex;
    justify-content: space-between;
}